/kellogg/proj/lgg3230/SteppingStones/data/interim/
data/raw/mun_microregion_ibge.dta
data/interim/sample.zip.zip
data/interim/sample/
data/interim/rais_mode_mun_ind.dta
data/interim/sample.zip.zip
data/interim/rais_mode_mun_ind.dta
data/
SteppingStones/data/interim/rais_mode_mun_ind.dta
/kellogg/proj/lgg3230/SteppingStones/data/interim/rais_mode_mun_ind.dta