/kellogg/proj/lgg3230/SteppingStones/data/interim/
data/raw/mun_microregion_ibge.dta
data/interim/sample.zip.zip
data/interim/sample/
data/interim/rais_mode_mun_ind.dta
data/interim/sample.zip.zip
data/interim/rais_mode_mun_ind.dta
data
SteppingStones/data/interim/rais_mode_mun_ind.dta 
SteppingStones/data/literature/README.md
SteppingStones/data/raw/ipca.csv
SteppingStones/data/raw/README.md
SteppingStones/paper/.DS_Store
SteppingStones/paper/checklist.md
SteppingStones/paper/README.md
SteppingStones/paper/.github/workflows/claude.yml
SteppingStones/references/Bar-Issac&Levy_2021.pdf
SteppingStones/references/Benabou&Tirole_2016.pdf
SteppingStones/references/Bianchi&al_2023.pdf
SteppingStones/references/Bidwell&al_2015.pdf
SteppingStones/references/Freidrich&al_2023.pdf
SteppingStones/references/Gibbons&Waldman_1999.pdf
SteppingStones/references/kline_2024_handbook.pdf
SteppingStones/references/Pastorino_2024.pdf
SteppingStones/references/Personnel Economics -- Edward P_ Lazear, Robert McNabb -- The Wicksell lectures ;, 1993, Cambridge, Mass, -- Cambridge, Mass_ _ Mit Press, C1995_ -- 9780262121880 -- c72626b5d85aed78e586b207f4b23c09 -- Anna’s Archive.pdf
SteppingStones/references/ssrn-2440404.pdf
SteppingStones/references/Stepping Stones.docx
SteppingStones/references/stylized_learning_model_note.pdf
SteppingStones/references/Talesara_2025.pdf
SteppingStones/references/Waldman_1984.pdf
SteppingStones/references/wu_2023.pdf
SteppingStones/data/interim/sp.zip.zip
SteppingStones/data/interim/unique_estab_2008.dta
SteppingStones/data/interim/unique_estab_2009.dta
SteppingStones/data/interim/unique_estab_2010.dta
SteppingStones/data/interim/unique_estab_2011.dta
SteppingStones/data/interim/unique_estab_2012.dta
SteppingStones/data/interim/unique_estab_2013.dta
SteppingStones/data/interim/unique_estab_2014.dta
SteppingStones/data/interim/unique_estab_2015.dta
SteppingStones/data/interim/unique_estab_2016.dta
SteppingStones/data/interim/worker_estab_2008.dta
SteppingStones/data/interim/worker_estab_2010.dta
SteppingStones/data/interim/layoff_spells/RAIS_panel_layoffs.dta
SteppingStones/data/interim/quit_spells/RAIS_panel_quits.dta
SteppingStones/data/interim/sample/RAIS_panel_endyear.dta
SteppingStones/data/interim/sp/RAIS_2006_sp.dta
SteppingStones/data/interim/sp/RAIS_2007_sp.dta
SteppingStones/data/interim/sp/RAIS_2008_sp.dta
SteppingStones/data/interim/sp/RAIS_2009_sp.dta
SteppingStones/data/interim/sp/RAIS_2010_sp.dta
SteppingStones/data/interim/sp/RAIS_2011_sp.dta
SteppingStones/data/interim/sp/RAIS_2012_sp.dta
SteppingStones/data/interim/sp/RAIS_2013_sp.dta
SteppingStones/data/interim/sp/RAIS_2014_sp.dta
SteppingStones/data/interim/sp/RAIS_2015_sp.dta
SteppingStones/data/interim/sp/RAIS_2016_sp.dta
SteppingStones/data/
.DS_Store
*.dta
*.csv
*.zip
*.pdf
*.docx
*.md
*.m4a
*.yml
SteppingStones/LICENSE
/kellogg/proj/lgg3230/SteppingStones/data/interim/rais_mode_mun_ind.dta
*.png